.DS_Store
.idea
*.log
tmp/
*/tmp/
*.doc
*.rtf
*.odt
*.pdf
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*/*.doc
*/*.rtf
*/*.odt
*/*.pdf
*/*.aux
*/*.glo
*/*.idx
*/*.log
*/*.toc
*/*.ist
*/*.acn
*/*.acr
*/*.alg
*/*.bbl
*/*.blg
*/*.dvi
*/*.glg
*/*.gls
*/*.ilg
*/*.ind
*/*.lof
*/*.lot
*/*.maf
*/*.mtc
*/*.mtc1
*/*.out
*/*.synctex.gz
*/*.doc
*/.auctex-auto*
*/apa7
*/*/*.doc
*/*/*.rtf
*/*/*.odt
*/*/*.pdf
*/*/*.aux
*/*/*.glo
*/*/*.idx
*/*/*.log
*/*/*.toc
*/*/*.ist
*/*/*.acn
*/*/*.acr
*/*/*.alg
*/*/*.bbl
*/*/*.blg
*/*/*.dvi
*/*/*.glg
*/*/*.gls
*/*/*.ilg
*/*/*.ind
*/*/*.lof
*/*/*.lot
*/*/*.maf
*/*/*.mtc
*/*/*.mtc1
*/*/*.out
*/*/*.synctex.gz
